<div class="container">
    <div class="row">
        {% for image in images %}
            <div class="col-md-3">
                <h4 class="text-center">{{image.name}}</h4>
                <img src="/storage/app/uploads/public/generate/{{image.url}}" alt="{{image.name}}" class="img-thumbnail">
            </div>
        {% endfor %}
    </div>
</div>
